package main

import "fmt"

// this is sample function
func getLanguage(project string) string {
	var projectLang map[string]string
	projectLang = map[string]string{
		"strato": "goLang",
	"delfin": "python"
	"kahu": "goLang"
	"dashboard": "nodeJs"
	"installer": "ansible"
	}

	return projectLang[project]
}

func main() {
	project := "strato"
	lang := getLanguage(project)
	fmt.Printf("This ode will print the project name and the language the project is implemented on ")
	fmt.Printf("the language used for project: %s is %s\n", project, lang)

}
